<!DOCTYPE html>
<html>
<head>
  <base href="/">

  <title>Categories With Friends</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="${STATICPATH}/styles.css">
  <link rel="icon" type="image/png" href="${STATICPATH}/favicon.png">

  <script defer src="${STATICPATH}/main.dart.js"></script>
</head>

<body>
  <my-app>Loading...</my-app>
</body>
</html>
